body {
    background: linear-gradient(270deg, #32c8ea, #4af576);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

hr {
    border-top: 0.5px solid #3c33d3;;
}

h1 {
    color: snow;
    font-size: 3.052em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    color: snow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.441em;
}

p {
    color: snow;
    font-size: 1.25em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    padding: 20px;
    border: 1px solid black;
    margin-left: 40vw;
    margin-right: 40vw;
}

.kaupunki {
    width: 200px;
    border: 0;
    padding: 5px;
    font-size: 1em;
    background-color: cadetblue;
    color: snow;
    transition: 0.4s;
}

.kaupunki:hover {
    border: 2px solid #3c33d3;
    /*border-radius: 20px;*/
}

.nayta {
    border: 1px solid #3c33d3;
    padding: 4px;
    font-size: 1em;
    background-color: teal;
    color: snow;
    transition: 0.4s;
}

.nayta:hover {
    background-color: #3c33d3;
}

@media screen and (max-width: 1000px) {
    .box {
        margin-left: 10vw;
        margin-right: 10vw;
    }
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}